.content {
  margin-top: 15vh;
  width: 100%;
  .expaned-controll {
    margin-bottom: 20px;
  }
  .questions {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .quiz-questions {
      margin-bottom: 2vh;
      display: flex;
      flex: 1 0 auto;
      flex-flow: column;
      .questions-buttons {
        margin: 10px;
      }
    }

    .quiz-info-input {
      margin-bottom: 2vh;
      display: flex;
      flex: 1 0 auto;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      mat-form-field {
        width: 50vw;
        font-size: 20px;
      }
    }

    mat-expansion-panel {
      .spacer {
        flex: 1 1 auto;
      }

      .button-controls {
        .quiz-question-button {
          margin-right: 20px;
          .mat-icon-add {
            color: green;
          }
          .mat-icon-remove {
            color: red;
          }
        }
      }

      .question-text {
        font-size: 18px;
        display: inline-block;

        ::ng-deep pre {
          font-size: 13px;
          font-family: monospace;
        }
      }

      .answer-text {
        font-size: 14px;
      }
    }

    .add-question {
      margin: 10px;
    }

    .quiz-buttons {
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      flex-flow: column;
      margin-top: 20px;

      .quiz-button {
        margin-top: 10px;
      }
    }
  }
}
