$footer-toolbar-background-color: #ededeb;
$footer-toolbar-font-color: #000;
$footer-toolbar-font-size: 15px;

.footer {
  background: $footer-toolbar-background-color;
  color: $footer-toolbar-font-color ;
  font-size: $footer-toolbar-font-size ;
  position: fixed;
  bottom: 0;
  z-index: 8999;

  .content {
    justify-content: center;
  }
}


