$header-toolbar-background-color: #fff !important;
$header-toolbar-color: #000000 !important;
$header-toolbar-height: 72px;
$header-toolbar-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.02),0px 0px 12px 0px rgba(0, 0, 0, 0.04),0px 2px 7px -1px rgba(0, 0, 0, 0.06);
.mat-toolbar {
  background: $header-toolbar-background-color;
  color: $header-toolbar-color;
  box-shadow: $header-toolbar-shadow;
  height: $header-toolbar-height;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9990;
  img {
    margin-left: 20px;
    margin-top: 10px;
    height: 36px;
  }
  .spacer {
    flex: 0 0 70px;
  }
}
