<div class="content">
  <div class="question">
    <h2>Pytanie nr {{question.id}}. Czas na odpowiedź to {{question.timeToAnswer}} sekund. </h2>
    <div [innerHTML]="question.text"></div>
    <img *ngIf="question.image" class="question-photo-container" src="{{'data:image/jpg;base64,' + question.image}}"/>
  </div>

  <mat-list role="list">
    <h1>Odpowiedzi:</h1>
    <mat-list-item *ngFor="let answer of question.answers" role="listitem">
      <mat-icon *ngIf="answer.correctAnswer === true " class="mat-icon-true" mat-list-icon>radio_button_checked
      </mat-icon>
      <mat-icon *ngIf="answer.correctAnswer === false " class="mat-icon-false" mat-list-icon>radio_button_checked
      </mat-icon>
      <p [innerHTML]="answer.text" mat-line></p>
    </mat-list-item>
  </mat-list>
  <div class="button-container">
    <button color="warn" mat-mini-fab matTooltip="Wróć do listy pytań" routerLink="/question">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button (click)="deleteQuestion()" color="warn" mat-mini-fab matTooltip="Usuń">
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="editQuestion()" color="warn" mat-mini-fab matTooltip="Edycja pytania">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
