<div class="content">
  <div class="question">
    <h1>Pytanie nr {{question.id}}. Czas na odpowiedź to {{question.timeToAnswer}} sekund.</h1>
    <div [innerHTML]="question.text"></div>
  </div>
  <mat-list role="list">
    <h1>Odpowiedzi:</h1>
    <mat-list-item *ngFor="let answer of question.answers" role="listitem">
      <mat-icon *ngIf="answer.correctAnswer === true " class="mat-icon-true" mat-list-icon>radio_button_checked
      </mat-icon>
      <mat-icon *ngIf="answer.correctAnswer === false " class="mat-icon-false" mat-list-icon>radio_button_checked
      </mat-icon>
      <p [innerHTML]="answer.text" mat-line></p>
    </mat-list-item>
  </mat-list>
  <button color="warn" mat-flat-button routerLink="/question">
    Powrót do listy
  </button>
</div>
