.content {
	margin-top: 15vh;
	font-size: 16px;

	::ng-deep pre {
		background-color: #c7c7c74d;
		font-size: 13px;
	}

	.button-container {
		.mat-flat-button {
			margin-top: 10px;
			margin-right: 10px;
		}
		.mat-mini-fab {
			margin-left: 10px;
			margin-top: 10px;
		}
	}
}

