$home-page-mat-flat-button-width: 30vw !important;
$home-page-mat-flat-color: f0fff3 !important;
$home-page-mat-flat-background-color: #000 !important;

.content {
  margin-top: 15vh;
  .billennium-squad-img-container {
    .mat-flat-button {
      width: $home-page-mat-flat-button-width;
      color: $home-page-mat-flat-color;
      background-color: $home-page-mat-flat-background-color;
    }
  }

  .info-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;

    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
}






