.content {
    margin-top: 15vh;
    .quiz-list {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        mat-expansion-panel {
            width: 60vw !important;
            ::ng-deep mat-expansion-panel-header {
                min-height: 7vh !important;
                height: fit-content !important;
            }
            .quiz-info {
                font-size: 16px;
                padding-top: 10px;
                ::ng-deep mat-tab-label {
                    font-size: 16px;
                }
                .quiz-details-button {
                    margin-top: 2vh;
                }
            }
        }
    }
}
