.content {
    margin-top: 15vh;

    ::ng-deep .cdk-overlay-pane mat-menu-panel{
        padding: 200px;;
    }
    
    .quiz-list {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        mat-expansion-panel {
            .quiz-info {
                font-size: 16px;
                padding-top: 10px;
                line-height: 3vh;
                ::ng-deep mat-tab-label {
                    font-size: 16px;
                }
                .quiz-details-button {
                    margin-top: 2vh;
                }
            }
        }
    }
}
