html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
}

.billennium-squad-img-container {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  img {
    max-height: 35%;
    max-width: 35%;
  }
}

pre {
  font-family: monospace;
}

.mat-icon-true {
  color: green;
  margin-right: 10px;
}
.mat-icon-false {
  color: orange;
  margin-right: 10px;
}

mat-expansion-panel {
  width: 60vw !important;
  .mat-expansion-panel-header-description {
    color: #000;
  }
  mat-expansion-panel-header {
    min-height: 8vh !important;
    height: fit-content !important;
  }
}
.mat-snack-bar-container {
  margin-bottom: 74px !important;
  background-color: #ff5722;
  color: white;
  .mat-simple-snackbar-action {
    color: white !important;
    background-color: #f4511e;
  }
}
