<div class="content">
  <div class="question">
    <h2 *ngIf="isResponseDefined()"> Pytanie {{response.actualQuestion}}/{{response.numberOfQuestions}}</h2>
    <div [innerHTML]="response.question.text" class="text"></div>
    <h2 class="timer">Czas: {{timeToAnswer}}s</h2>
  </div>
  <mat-radio-group [(ngModel)]="selectedAnswer" class="form">
    <mat-radio-button class="answer" *ngFor="let answer of response.question.answers" [value]="answer"
                      (click)="select(answer)">
     <p [innerHtml]="answer.text"></p>
    </mat-radio-button>
  </mat-radio-group>
  <button (click)="submit(response.question.id,selectedAnswer.id)" *ngIf="isResponseDefined()"
          [disabled]="selectedAnswer.id === undefined" color="primary" mat-flat-button>Zatwierdź
  </button>
</div>
